<ion-header-bar class="bar-positive">
  <h2 class="title">More Info</h2>
</ion-header-bar>

<ion-view>
  <ion-content>
    <ion-list class="list-inset">
      <ion-item class="item-text-wrap"
        ng-repeat="item in items | filter: { _id: whichitem }">
          <img class="editable-image" ng-if="item.thumbnailUrl" ng-src="{{item.thumbnailUrl}}"
            alt="{{ item.title }} Photo">
          <h2>{{ item.title }}</h2>
          <h3>{{ item.location }}  |  {{item.price}} </h3>
          <p>{{ item.description }}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>