<ion-modal-view class="product edit create">
	<form name="itemEdit" novalidate>
		<ion-header-bar class="bar-positive fix-buttons">
			<a class="button" ng-click="closeModal()">Cancel</a>
			<h2 class="title">Submit a New Item</h2>
			<a class="button" ng-click="submitModal()">Submit</a>
		</ion-header-bar>
		<ion-content has-bouncing="true">
			<div class="row" ng-class="{'no-padding-top': !data.editItem}">
				<div class="col">
					<label class="item item-input large">
						<input ng-model="item.title" type="text" placeholder="Name">
					</label>
				</div>
			</div>
			<div class="horizontal-image">
				<div class="add" ng-click="openFileDialog()"><i class="icon ion-upload"></i>
					<input id="file" type="file" style="display: none">
					<div class="instructions">Tap to upload photo</div>
				</div>
				<p ng-if="fileModel">
					File Size: {{fileModel.size}} Last Modified: {{fileModel['_kmd'].lmt | date:'yyyy-MM-dd HH:mm:ss Z'}}
				</p>
				<img class="editable-image" ng-if="fileUrl" ng-src="{{fileUrl}}">
			</div>
			<div class="row" ng-class="{'no-padding-top': !data.editItem}">
				<div class="col col-70">
					<label class="item item-input">
						<input ng-model="item.location" type="text" placeholder="Location">
					</label>
				</div>
				<div class="col col-25 col-offset-05">
					<label class="item item-input small">
						<input ng-model="item.price" type="number" placeholder="Price">
					</label>
				</div>
			</div>
			<div class="row description-row">
				<div class="col">
					<label class="item item-input text">
						<textarea  placeholder="Description" rows="5" ng-model="item.description" ng-Required="true" name="description" lose-focus-on-return></textarea>
					</label>
				</div>
			</div>

			<div class="row charity-row">
				<div class="col col-10 vert-center">
					<div class="charity large"></div>
				</div>
			</div>


		</ion-content>
	</form>
</ion-modal-view>