<ion-view view-title="NurseryLive Inventroy">
  <ion-content class="splash padding">
    <div class="branding">
      <h2 class="tagline">NurseryLive.com</h2>
      <p>All india delivery. <br/>500 + Plants and Seeds.</p>
    </div>
  </ion-content>
</ion-view>
