<ion-view view-title="Home">
  <ion-content>
    <ion-list class="list-inset">
      <ion-item class="text-center">
        <a class="button" ng-click="openModal()">Profile</a>
      </ion-item>
      <ion-item class="text-center">
        <a class="button" ng-click="openModal()">collection</a>
      </ion-item>
      <ion-item class="text-center">
        <a class="button" ng-click="openModal()">Instruments</a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
