<ion-tabs class="tabs-icon-top tabs-positive">

	<ion-tab title="Home" icon="ion-home" href="#/tab/home">
		<ion-nav-view name="home-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Items" icon="ion-ios-pricetag" href="#/tab/list">
		<ion-nav-view name="list-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Store" icon="ion-leaf" href="#/tab/store">
		<ion-nav-view name="store-tab"></ion-nav-view>
	</ion-tab>

	<!--<ion-tab title="Submit" icon="ion-plus" href="#/tab/submit">-->
		<!--<ion-nav-view name="submit-tab"></ion-nav-view>-->
	<!--</ion-tab>-->


</ion-tabs>