/* Empty. Add your own CSS if you like */

body {
  cursor: url('http://ionicframework.com/img/finger.png');
}

.star>.item-content {
  background-color: #EEE8D6 !important;
}

.splash {
  background: url(../img/nurserylive-splash.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: hidden;
}

.branding {
  max-height: 5rem;
  max-width: 25rem;
  margin: 0 1rem;
  margin-top: 400px;

}

.tagline {
  font-size: 1.4rem;
}

.branding p {
  margin-top: 10px;
  font-size: 1rem;
}

.item-divider {
  background-color: #EEE8D6;
}

.bar-positive, .tabs-positive>.tabs {
  background-color: #417D9A !important;
  border-color:  #417D9A;
}

.item-thumbnail-left img {
  border-radius: 10px;
}

.item h3 {
  font-size: 1.2rem;
  font-weight: 100;
  color: #417D9A;
}

.item h2 {
  color: #417D9A;
  font-size: 2rem;
  font-weight: 200;
}

.dayhighlight {
  background-color: #9EC6DE;
  border-top: 20px solid #417D9A;
}

.dayhighlight h2 {
  color: #417D9A;
  font-size: 2rem;
  font-weight: 200;
}

.editable-image {
  height:200px;
  text-align:center;
}

.horizontal-image {
  text-align:center;
}